<title><%=title%></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<% include ./partials/header.ejs %>

<div class="container">
    <h3 class="text-center">Migrant Med</h3>
    <h5>Thank you for choosing Migrant Med</h5>
    <a href="./add_client.ejs"><button class="btn btn-danger">Register</button></a>
</div><!--End of container-->
<% include ./partials/footer %>