<title><%=title%></title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<% include ./partials/header.ejs %>

<div class="container">
    <h3 class="text-center">Migrant Med</h3>
    <h5>Thank you for choosing Migrant Med</h5>
    <a href="./add_client.ejs"><button class="btn btn-danger">Register</button></a>
</div><!--End of container-->

<% include ./partials/footer %>